html {
    font-size: 16px !important; 
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    position: relative !important;
    color: #000000 !important;
    font-weight: 600 !important;
    font-size: 1.125rem !important;
    line-height: 1.25rem !important;
}

.nav-link:hover, .nav-link.active {
    color: #2151A6 !important;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #000000;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }

}

.uipe-btn-outline-primary {
    color: #2151A6 !important;
    border: 1px solid #2151A6 !important;
}

.uipe-btn-outline-primary:hover {
  color: white !important;
  border: 1px solid white !important;
  background-color: #2151A6 !important;
}

.uipe-btn-primary {
    background-color: #2151A6 !important;
    color: white !important;
    border: none !important;
}

.uipe-btn-primary:hover {
  background-color: transparent !important;
  color: #2151A6 !important;
  border: 1px solid #2151A6 !important;
}

.pt-93 {
    padding-top: 93px;
}

.banner__title {
    font-size: 52px;
    font-weight: 600;
    line-height: 62.93px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
.banner__subtitle {
    width: 477px;
    height: 57px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
.banner .banner__title span {
    color: #2151A6;
  }

.banner__btns .btn__primary_transparent {
    background-color: transparent;
  }

/* .events__cards{
    justify-content: flex-start;
    display: inline;
}
.events__cards .card{
    width:400px;
    height:auto;
} */
/* .uipe-events-card {
    background-color: #F7FAFC !important;
    padding: 65px 28px 55px 28px;
} */

.uipe-events-card {
  background-color: #F7FAFC !important;
  padding: 65px 28px 55px 28px;
  }

.uipe-events-card .date {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 120px;
    height: 34px;
    background-color: #C2EAFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
.uipe-events-card .date img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  
.uipe-events-card .date .text {
  width:100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
  }
  
/* .uipe-events-card .title {
    width: 294px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
  }
  
.uipe-events-card .content {
    height: 43px;
    width: 356px;
    color: #02020A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 26px;
  } */
  
.uipe-events-card .uipe-location {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 201px;
    height: 34px;
    margin-top: 26px;
  }
  
.uipe-events-card .uipe-location img {
    height: 30px;
    width: 30px;
  }
  
.uipe-events-card .uipe-location .text {
    width: 161px;
    height: 34px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #02020A;
    text-wrap: wrap;
  }
  
.uipe-events-card .uipe-rsvp {
    margin-top: 58px;
  }
  
.uipe-events-card .uipe-rsvp button {
    width: 106px;
    height: 32px;
    border-radius: 5px;
    color: white;
    background-color: #2151A6;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
  }

.uipe-events-viewall {
    position: absolute;
    right: 10px;
    top: 80px;
  }
  
.uipe-events-viewall .uipe-events-viewall-btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: none;
    border: none;
    cursor: pointer;
  }

.uipe-news-card .meta {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #797474;
}

.uipe-join {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 19px;
    color: #9EA3AE;
  }
  
.uipe-join span {
    color: #2151A6;
  }

.uipe-footer {
    background: #02020A;
    color: white;
}

.uipe-news{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.justify-content-center{
  justify-content: center;
}

.content{
  position: relative;
  display:flex;
  width:100%;
}

.row{
  width: 100%;
  position: relative;
  padding-right: 30px;
  display: flex;
}

.row .col-lg-4{
  flex-grow: 1;
  border-radius: 10px;
}

.row .col-lg-4 .card{
  border: none;
  position: relative;
  display: flex;
}

.row .col-lg-4 .card .img-holder {
  flex: 1;
}

.row .col-lg-4 .card .img-holder .heading{
  position: absolute;
  padding:10px;
  background-color: rgba(255,255,255,0.7);
  width:100%;
  height: 55px;
}

.row .col-lg-4 .card .img-holder .heading h5{
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

.row .col-lg-4 .card .img-holder img{
  border-radius: 10px;
  width: 100%;
}

.row .col-lg-4 .card img{
  border-radius: 10px;
  width: 100%;
}

.row .col-lg-4 .card .uipe-news-card{
  width: 100%;
  position: relative;
  border-radius: 10px;
}

.row .col-lg-4 .card .uipe-news-card .gray{
  width: 100%;
  position: relative;
  display: flex;
}

.row .col-lg-4 .card .uipe-news-card .gray .author{
  width: 100%;
  color: rgb(110, 108, 108);
  text-align: left;
  font-weight: 600;
}

.row .col-lg-4 .card .uipe-news-card .gray .meta{
  width: 100%;
  text-align: end;
}

.row .col-lg-4 .card .uipe-news-card .card-text{
  width: 100%;
  text-align: justify;
  padding-top: 25px;
}

.column{
  width: 25%;
  background-color: #bee9ff;
  justify-content: center;
  overflow-y: auto;
  padding: 15px;
  border-radius: 10px;
}

.column .lil-header{
  width: 100%;
  padding: 7px;
}

.column .lil-header h5 {
  text-align: center;
  font-size: medium;
}

.column > div {
  width:100%;
}

.column > div .card{
  background-color: transparent;
  border-radius: 10px;
  border: none;
  padding-bottom: 25px;
}
.column > div .card img{
  border-radius: 10px;
}

.column > div .card .uipe-news-card{
  border-radius: 10px;
  background-color: white;
}

.container .row{
  width:100%;
  position: relative;
  display: flex;
}

.container .row .col-lg-8{
  width:70%;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.container .row .sidebar{
  width:30%;
  position: relative;
  display: flex;
  justify-content: center;
}

.col-lg-6{
  border-radius: 5px;
  width: 50%;
  position: relative;
  padding: 0px;
  box-sizing: border-box;
}

.row {
  width: 100%;
  position: relative;
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
}

.col-lg-6 article{
  width:100%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0%;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.col-lg-6 article .box-shadow{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width:100%;
  height: 100%;
  position: relative;
  padding: 10px;
  padding-left: 20px;
  border-radius: 5px;
  flex-grow: 1;
}

article .box-shadow .align-items-center img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

article .box-shadow .align-items-center .post-meta{
  width:100%;
  margin-top: auto;
  margin-left: 20px;
}

article .post-img{
  width: 100%;
  padding: 0px;
  display: flex;
}

article .post-img img{
  border-radius: 10px 10px 0 0;
  width: 100%;
  padding: 0px;
  object-fit: cover;
  display: block;
}

article .post-category{
  color:gray;
}

article .title{
  text-decoration: none;
  font-size: large;
  margin-bottom: 20px;
}

article .title a{
  text-decoration: none;
  color:#233f6f;
}

article .align-items-center .post-meta{
  margin-bottom: 0px;
}

article .align-items-center .post-meta .post-author{
  font-weight: bold;
}

article .align-items-center .post-meta .post-date{
  color: gray;
}

.sidebar .widgets-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar .widgets-container .widget-item{
  border: 1px solid rgb(201, 199, 199);
  background-color: rgba(249, 249, 249, 0.8);
  border-radius: 5px;
  padding:20px;
}

.sidebar .widgets-container .widget-item .post-item div{
  margin-left: 10px;
}

.sidebar .widgets-container .widget-title::before{
  content: "";
  display: inline-block;
  width: 5px;
  height:30px;
  background-color: rgb(255, 111, 0);
  margin-right: 10px;
  vertical-align: middle;
}

.sidebar .widgets-container .widget-title{
  color:#1d4a97;
  margin-bottom: 20px;
  font-size: larger;
}

.sidebar .widgets-container .widget-item .post-item{
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.sidebar .widgets-container .widget-item .post-item:last-child{
  margin-bottom: 0px;
}

.sidebar .widgets-container .widget-item .post-item img{
  justify-content: left;
  width:100px !important;
  height:100% !important;
}

.sidebar .widgets-container .widget-item .post-item div {
  position: relative;
  padding:10px;
}

.sidebar .widgets-container .widget-item .post-item div h4 a{
  text-decoration: none;
  color: rgb(66, 65, 65);
  font-size: medium;
}

.sidebar .widgets-container .widget-item .post-item div time{
  color: gray;
  font-style: italic;
  font-size: small;
}

.sidebar .widgets-container .widget-item form input[type="text"]{
  border-radius: 45px;
  border: 1px solid rgb(201, 199, 199);
  padding: 5px;
  width:70%;
}

.sidebar .widgets-container .widget-item .mt-3{
  list-style: none;
}

.sidebar .widgets-container .widget-item .mt-3 li a{
  text-decoration: none;
  text-align: left;
  color: rgb(44, 44, 44);
}

.sidebar .widgets-container .widget-item .mt-3 li span{
  color: gray;
}

.uipe-events{
  width:100%;
}

.uipe-events .justify-content-center{
  width: 100%;
  justify-content: center;
}

.row .col-lg-4 .card .uipe-news-card .btn-link{
  list-style: none;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .header {
    background: url('../img/backgrounnd.png') no-repeat;
    height: 874px !important;
    background-position: top right 30% !important;
    background-size: 100% 874px ;
  }
  .index-page .banner__title {
    font-size: 28px;
    line-height: 34px;
    text-align: left;
  }
  .index-page .banner__subtitle {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }
  .index-page .banner__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding-left: 10px;
  }
  .index-page .banner__btns ._btn {
    width: 120px;
  }
  .index-page .uipe-events-card {
    padding: 30px 15px 25px 15px;
  }
  .index-page .uipe-events-card .date {
    width: 100px;
    height: 40px;
    font-size: 14px;
    padding: 5px;
  }
  .index-page .uipe-events-card .date img{
    object-fit: contain;
    width:50px;
    height:30px;
  }
  .index-page .uipe-events-card .uipe-location {
    width: 100%;
    font-size: 12px;
  }
  .index-page .uipe-events-card .uipe-rsvp button {
    width: 100%;
    font-size: 14px;
  }
  .index-page .uipe-news .row {
    display: flex;
    flex-direction: column;
  }
  .index-page .row {
    display: flex;
    flex-direction: column;
  }
  .index-page .content {
    flex-direction: column;
  }
  .index-page .row .col-lg-4 {
    width: 100%;
    margin-bottom: 20px;
  }
  .index-page .post-img img, .index-page .card img {
    width: 100%;
    height: auto;
  }
  .index-page .card-body.uipe-news-card {
    padding: 15px;
  }
  .index-page .sidebar {
    width: 100%;
    padding: 0 15px;
  }
  .index-page .column {
    width: 100% !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .header {
    background: url('../img/backgrounnd.png') no-repeat;
    height: 874px !important;
    background-position: top right 30% !important;
    background-size: 100% 874px ;
  }
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }
  .banner__subtitle {
    width: 90%;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .banner__btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
  .banner__btns ._btn {
    justify-content: center;
    width: 150px;
  }
  .uipe-news .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .index-page .row {
    width: 100%;
    position: relative;
    display: flex !important;
    flex-direction: row;
  }
  .uipe-events .row > .uipe-events-card-wrapper,
  .uipe-news .row > .uipe-news-card-wrapper {
    width: 50% !important;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .index-page .row .uipe-events-card-wrapper .col-lg-4 {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .index-page .row .uipe-news-card-wrapper .col-lg-4 {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .uipe-events-card-wrapper .col-lg-4 .uipe-events-card{
    width: 100% !important;
    padding: 50px 25px 40px 25px;
  }
  .uipe-events-card-wrapper .col-lg-4 .uipe-news-card{
    width: 100% !important;
  }
  .sidebar {
    width: 100%;
    padding: 0 20px;
  }
  /* Fix layout for news_about main and sidebar on small to medium screens */
  .content {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .content > div:first-child {
    width: 66.67%;
    padding: 0;
    margin: 0;
  }
  .content > .column {
    width: 33.33%;
    padding: 0;
    margin: 0;
  }
}

.newslist-page .container {
  padding-right: 0 !important;
  padding-left: 0 !important;
  max-width: 100% !important;
}

.newslist-page .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.newslist-page .container > .row > .col-lg-8 {
  width: 66.67% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.newslist-page .container > .row > .col-lg-4.sidebar {
  width: 33.33% !important;
  padding: 0 15px !important;
  margin: 0 !important;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    background: url('../img/backgrounnd.png') no-repeat;
    height: 874px !important;
    background-position: top right 40% !important;
    background-size: 100% 874px ;
  }
  .banner__title {
    font-size: 44px;
    line-height: 50px;
    text-align: center;
  }
  .banner__subtitle {
    width: 80%;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
  }
  .banner__btns {
    justify-content: center;
    gap: 20px;
  }
  .uipe-events-card .date {
    width: 110px;
    height: 40px;
    font-size: 16px;
  }
  .uipe-events-card .uipe-location {
    width: 70%;
    font-size: 14px;
  }
  .uipe-events-card .uipe-rsvp button {
    font-size: 16px;
  }
  .uipe-news .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .index-page .row {
    width: 100%;
    position: relative;
    display: flex !important;
    flex-direction: row;
  }
  .uipe-events .row > .uipe-events-card-wrapper,
  .uipe-news .row > .uipe-news-card-wrapper {
    width: 50% !important;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .index-page .row .uipe-events-card-wrapper .col-lg-4 {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .index-page .row .uipe-news-card-wrapper .col-lg-4 {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .uipe-events-card-wrapper .col-lg-4 .uipe-events-card{
    width: 100% !important;
    padding: 50px 25px 40px 25px;
  }
  .uipe-events-card-wrapper .col-lg-4 .uipe-news-card{
    width: 100% !important;
  }
  .sidebar {
    width: 100%;
    padding: 0 25px;
  } 
  .content {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .content > div:first-child {
    width: 66.67%;
    padding: 0;
    margin: 0;
  }
  .content > .column {
    width: 33.33%;
    padding: 0;
    margin: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header {
    background: url('../img/backgrounnd.png') no-repeat;
    height: 874px !important;
    background-position: top !important;
    background-size: 100% 874px ;
  }
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    text-align: left;
  }
  .banner__subtitle {
    width: 70%;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }
  .banner__btns {
    justify-content: flex-start;
    gap: 25px;
  }
  .uipe-events-card {
    padding: 60px 30px 50px 30px;
  }
  .uipe-events-card .date {
    width: 120px;
    height: 34px;
    font-size: 16px;
  }
  .uipe-events-card .uipe-location {
    width: 70%;
    font-size: 14px;
  }
  .uipe-events-card .uipe-rsvp button {
    font-size: 16px;
  }
  .uipe-news .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .index-page .row {
    width: 100%;
    position: relative;
    display: flex !important;
    flex-direction: row;
  }
  .uipe-events .row > .uipe-events-card-wrapper,
  .uipe-news .row > .uipe-news-card-wrapper {
    width: 32% !important;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .index-page .row .uipe-events-card-wrapper .col-lg-4 {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .index-page .row .uipe-news-card-wrapper .col-lg-4 {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .uipe-events-card-wrapper .col-lg-4 .uipe-events-card{
    width: 100% !important;
    padding: 50px 25px 40px 25px;
  }
  .uipe-events-card-wrapper .col-lg-4 .uipe-news-card{
    width: 100% !important;
  }
  .sidebar {
    width: 30%;
    padding: 0 30px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header {
    background: url('../img/backgrounnd.png') no-repeat;
    height: 874px !important;
    background-position: top ;
    background-size: 100% 874px ;
  }
  .banner__title {
    font-size: 52px;
    line-height: 62.93px;
    text-align: left;
  }
  .banner__subtitle {
    width: 477px;
    font-size: 18px;
    line-height: 21.78px;
    text-align: left;
  }
  .banner__btns {
    justify-content: flex-start;
    gap: 30px;
  }
  .uipe-events-card {
    padding: 65px 28px 55px 28px;
  }
  .uipe-events-card .date {
    width: 120px;
    height: 34px;
    font-size: 16px;
  }
  .uipe-events-card .uipe-location {
    width: 201px;
    font-size: 14px;
  }
  .uipe-events-card .uipe-rsvp button {
    font-size: 16px;
  }
  .uipe-news .row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .index-page .row {
    width: 100%;
    position: relative;
    display: flex !important;
    flex-direction: row;
  }
  .uipe-events .row > .uipe-events-card-wrapper,
  .uipe-news .row > .uipe-news-card-wrapper {
    width: 32% !important;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .index-page .row .uipe-events-card-wrapper .col-lg-4 {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .index-page .row .uipe-news-card-wrapper .col-lg-4 {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .uipe-events-card-wrapper .col-lg-4 .uipe-events-card{
    width: 100% !important;
    padding: 50px 25px 40px 25px;
  }
  .uipe-events-card-wrapper .col-lg-4 .uipe-news-card{
    width: 100% !important;
  }
  .sidebar {
    width: 30%;
    padding: 0 30px;
  }
}
